* {
  margin: 0;
  padding: 0;
}

img.media {
  width: 16%;
}

.navbar {
  background-color: #000000;
  padding-top: 1%;
  padding-bottom: 0%;
  position: sticky;
  top: 0%;
}

.first-section {
  font-family: "inter";
  display: flex;
  margin-left: 10%;
  list-style: none;
  color: white;
  justify-content: center;
  background-color: #1c1c1c;
  padding-left: 1%;
  border-radius: 28px;
  cursor: pointer;
}

.first-section li:hover {
  color: grey;
}

.btn-sm {
  font-family: "inter";
  align-items: center;
  padding: 9px 21px;
  border-radius: 20px;
  color: white;
  background-color: #e75f00;
  justify-content: center;
  text-decoration: none;
}

.right-side {
  margin-right: 40px;
}

.media {
  margin-right: 5%;
}

.media:hover {
  transform: scale(115%);
  transition: 0.5s;
}

.Welcome {
  display: flex;
}

.one {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1192px;
}

.l-wel {
  margin-left: 7%;
}

.r-wel {
  margin-left: 17%;
  margin-right: 7%;
  color: #d7d7d7;
  padding-top: 2%;
  font-size: 18px;
  font-family: "inter";
}

#search {
  padding-right: 30%;
  padding-bottom: 2%;
  padding-left: 4%;
  border-radius: 15px;
  background-color: #1c1c1c;
  color: white;
  font-family: Arial, FontAwesome;
}

.butn {
  display: flex;
}

.two {
  display: flex;
  padding: 50px;
  background-color: #000000;
}

.react {
  width: 97px;
  position: relative;
  top: 485px;
  left: 396px;
  cursor: pointer;
}

.react:hover {
  transform: scale(115%);
  transition: 0.5s;
}

.js {
  width: 83px;
  position: relative;
  top: 475px;
  left: 562px;
  cursor: pointer;
}

.js:hover {
  transform: scale(115%);
  transition: 0.5s;
}

.css {
  width: 110px;
  position: relative;
  left: 538px;
  top: 265px;
  cursor: pointer;
}

.css:hover {
  transform: scale(115%);
  transition: 0.5s;
}

.html {
  width: 90px;
  position: relative;
  left: 208px;
  top: 62px;
  cursor: pointer;
}

.html:hover {
  transform: scale(115%);
  transition: 0.5s;
}

.typescript {
  width: 85px;
  position: relative;
  top: 275px;
  left: -110px;
  cursor: pointer;
}

.typescript:hover {
  transform: scale(115%);
  transition: 0.5s;
}

.butn-1 {
  background-color: #e75f00;
  padding: 9px 50px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-family: "inter";
}

.butn-2 {
  margin-left: 40px;
  padding: 9px 50px;
  border-radius: 15px;
  background-color: #e75f00;
  color: white;
  text-decoration: none;
  font-family: "inter";
}

.butn-1:hover {
  color: gray;
}

.butn-2:hover {
  color: gray;
}

.btn-sm:hover {
  color: gray;
}
